<div class="p-5 mb-4 bg-body-tertiary rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Articles</h1>
        <h3>My blog has <%= Article.public_count %> 
        <%= if Article.public_count > 1 
          count_public = "articles" 
        else 
          count_public = "article" 
        end
      %> and counting!</h3>
        <ul>
    <% @articles.each do |article| %>
        <% unless article.archived? %>
        <li>
            <%= link_to article.title, article, class:"link-opacity-25-hover text-decoration-none text-reset fw-lighter fs-4" %>
        </li>
        <% end %>
    <% end %>
</ul>
    
        <%= link_to "New Article", new_article_path, text: 'New Article', class: 'btn btn-primary btn-lg' %>
      </div>
    </div>