<div class="p-5 mb-4 bg-body-tertiary rounded-3">    
    <div class="container grid gap-3">
        <div class="row">
        <h1 class="display-5 fw-semibold">About me </h1>
        <p></p>
            <div class="col col-lg-2">
                <div class="card w-100 mb-3" style="width: 18rem;">
                <img src="/profile.jpg" class="card-img-top" alt="me"/>
                    <div class="card-body">
            <h5 class="card-title">Software Development Engineer</h5>
            <p class="card-text">This is my first Ruby on Rails application. I used Rails on the backend and Bootstrap for the frontend.
            </p>
            </div>
            </div>
            </div>
            <div class="col">
                <p class=" fs-4 fw-lighter">My name is Terence, I'm a Software Development Engineer and I love programming! I enjoy programming in languages like Java, Python, JavaScript and now Ruby on Rails! I originate from and reside in New York City and I have always loved learning about Technology! 
                </p>

                <p class=" fs-4 fw-lighter">Right before the pandamic I worked for a Business Intelligence company, <a href="https://www.sisense.com/">Sisense</a>. While there, I learned about SQL, Linux, system design, product design, and development. 
                </p>

                <p class=" fs-4 fw-lighter">After Sisense, I worked for Amazon Web Services (<a href="https://www.aws.amazon.com">AWS</a>). You've probably heard of Amazon.com but maybe not AWS. In my time at AWS, I learned more cloud computing, cloud networking, and cloud security. Also, I've learned how to develop, test, integrate and deploy applications using AWS's cloud computing infrastructure.
                </p>

                <p class=" fs-4 fw-lighter">
                 I have since and continue to deploy applications to all three of the major cloud computing platforms and others like <a href="https://www.linode.com">Linode</a>.
                </p>
            </div>
        </div>
    </div>
</div>
