<div class="col">
    <div class="row">
        <div class="p-5 mb-4 bg-body-tertiary rounded-3">
            <h1 class="display-5 fw-bold">Welcome To Terence's Blog of Gems...</h1>
            <br>
            <div class="card mb-3">
                <img src="/diamond-cut-rubies.png" class="card-img-top" alt="me"/>
            </div>
            <p class="col-md-8 fs-4 fw-lighter">Take a look at my articles, I hope they help you in some way. Please feel free to share them anywhere. 
            <br> 
            </p>
            <p class="col-md-8 fs-4 fw-lighter">I built this website because I wanted to match the skills listed on a job posting I saw. I haven't applied yet. I'll let you know if I get the job. Lol. Also, I saw an opportunity to learn a new skill, Ruby on Rails programming. This project allows me to throw that skill on my resume! 😎
            </p>
            <p class="col-md-8 fs-4 fw-lighter">This website was created using Ruby on Rails. Ruby is the programming language that allows you to create objects and make them do things programmatically.<br><br>
                Rails is the framework that runs your Ruby programs and allows you to create systems with them alot faster and it makes the workflow more efficient than any other framework I have ever seen. 
                <br>
                <br>
                I hope this helps you thank you for stopping by.
            </p>
        </div>

    </div>
</div>